[submodule "scripts/helpers"]
	path = scripts/helpers
	url = https://github.com/Painatalman/helpers-js
[submodule "styles/helpers"]
	path = styles/helpers
	url = https://github.com/Painatalman/Mixins
