doctype html
html
  head
    title= title
    block styles
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(
      src="/socket.io/socket.io.js"
    )
    block scripts
      script(
        src="/javascripts/app.js"
      )
